<h1>New Task</h1>

<%= form_with model: @task, url: tasks_path do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Task' %>
  </div>
<% end %>

<%= link_to 'Back to Task List', tasks_path %>
